{% extends 'OrderingOnline\root_file.html' %}
{% block content %}
{% load static %}
       <link rel="stylesheet" type="text/css" href="{% static 'OrderingOnline/register.css' %}" />
  
   
<!-- cart name -->
<center><h1>My cart</h1></center>

{% if cart_item_success %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{cart_item_success}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% if confirm %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <form action="{% url 'placeorder' %}" method="post">
    {% csrf_token %}
    {{confirm}} <input type="submit" class="btn btn-outline-success" name="yes" value="Yes"></form>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}
<div class="cart_page">


{% if cart %}


<div class="container">

  <div class="btn btn-primary">
    Total : {{price}}
  </div>
  <a href="{% url 'placeorder' %}" class="btn btn-success mt-1">Purchase now</a>
              
  <div class="row">
    {% for x in cart %}
    <div class="col-sm-12 col-md-12 mt-2 ">
      <div class="card" style="size:80%;">
        <div class="row">
          <div class="col-md-5">
            <img src="/media/{{x.Items_data.pimage}}" class="w-100 h-100" alt="Available">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">{{x.Items_data.pname}}</h5>
              <p class="card-text">Category:{{x.Items_data.category}}</p>
              <p class="card-text">Price: {{x.Items_data.price}}</p>
               <p class="card-text">discount: {{x.Items_data.discount}}</p>
                <p class="card-text">final amount: {{x.Items_data.total}}</p>
                quantity:
               <form action="{% url 'cart_increase' id=x.id %}" method="post">
                  {% csrf_token %}
                   <input type="number" name="quantity" id="quantity" value="{{x.quantity}}" style="width: 40px;">
                   <input type="submit" name="increase"  value="+">
               </form>
                        
                <p class="card-text mt-2"><small class="text-muted">Feedback: {{x.Items_data.feedback}}</small></p>
          
              <a href="{% url 'delete_item_from_cart' id=x.Items_data.id %}" class="btn btn-danger mt-2 delete">Remove</a>      
            
            </div>
          </div>
        </div>
      </div> 
    </div>
   

  
   {% endfor %}
  </div>
 
</div>

{% else %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  Cart is empty!!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

</div>

     
{% endif %}
{% include 'OrderingOnline\footer.html' %}

{% endblock %} 