*{
    padding-top: 10px;
}
.container{
    margin-top:10px;
}
.main1{
    width:auto;
    /* box-shadow: 5px 5px 20px #2c3e50; */
    padding:3%;
    background-color: #ecf0f1;
   
}
.main{
    /* margin:50px; */
    width:auto;
    padding:3%;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
}
.select{
    margin: 10px;
    text-align: center;
}
img{
    width:15vw;
    height:40vh;
}
.Category{
    margin-top:5px;
    text-align: center;
}